<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>false</WindowsAppSDKSelfContained>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\stage\Runtime\</PublishDir>
  </PropertyGroup>
</Project>
